// custom variables (order matters: first - declare variables. Those inside bootstrap will have '!default', which will use default vars if nothing was declared before
$primary: #c29938;
$light: #fbf5e5;

// import functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);


// adding new variable to the array of built-in theme colors:
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

